.idea/
**/*.iml
*.iws
.DS_Store
**/.DS_Store

out/
*/.gradle
**/*build*/

/app/
/app-test/
/files/
/.docker-artifacts/

**/*.log
api.log.lck
.env
**/.env
**/.env.*
!**/.env.example

docker-compose.yaml
docker-compose.yml
docker-compose-*.yaml
docker-compose-*.yml
!docker-compose.example.yaml
!docker-compose.example.yml
